$gray: #afaeae;
$purple: #90f;
$lime_green: #9f0;
$light_blue: #0fa1ff;
$pink: #f09;
$amber: #ffbc00;
$red: #ff00dd;
$maroon: #a60065;
$yellow: #fffa00;
$dark_blue: #3200ff;
$dark_purple: #6300A6;
$dark_red: #a60010;
$seagreen: #00ffdc;

$blue: $light_blue;