/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass_twitter_bootstrap";
@import "colors";

$colorHighlight: $dark_red;
$colorX: $purple;
$colorO: $lime_green;
$colorDefaultFont: #333;
$colorDefaultBorder: #999;
$colorDisabledBoardBg: #ddd;
$piece_size: 50px;
$board_size: ($piece_size + 2) * 3;
$board-padding: 15px;

.boards-container {
  width: ($board_size + ($board-padding * 2) ) * 3 + 15;
  margin: 0 auto;
  @include clearfix;
}
  
h1{
  text-align: center;
}

.board {
  background: #fff;
  width: $board_size;
  height: $board_size;
  float: left;
  margin: $board-padding;
  border: 2px solid #fff;
  @include border-radius(10px);
  
  &.highlighted-board {
    border: 2px solid $colorHighlight;
    > li {
      border: 1px solid $colorHighlight;
    }
  }
  
  &.disabled-board{
    opacity: 0.4;
    background: $colorDisabledBoardBg;
  }

  &.won-board {
    
    &.piece-x{
      background-image: url('../images/x.png');
    }
    
    &.piece-o{
      background-image: url('../images/o.png');
    }
    
    &.matched {
      &.piece-X {
        > li {
          border-color: $colorX;
        }
      }
      &.piece-O {
        > li {
          border-color: $colorO;
        }
      }
    }
  }
  
  > li {
    width: $piece_size;
    height: $piece_size;
    float: left;
    border: 1px solid $colorDefaultBorder;
    cursor: pointer;
    text-align: center;
    line-height: $piece_size;
    font-size: 24px;
    color: $colorDefaultFont;

    &.matched {
      font-weight: bold;

      &.piece-X {
        color: $colorX;
      }
      &.piece-O {
        color: $colorO;
      }
    }
    
    &.position-0, &.position-1, &.position-2 {
      border-top: none;
    }

    &.position-0, &.position-3, &.position-6 {
      border-left: none;
    }

    &.position-6, &.position-7, &.position-8 {
      border-bottom: none;
    }

     &.position-2, &.position-5, &.position-8 {
      border-right: none;
    }
  }
}

.board-container{
  position: relative;
  
  .won-board-piece {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* Sign board */
$cylinder-width: 25px;
.sign-board {
  width: 100px; 
  height: 50px;
  border: 1px solid #606;
}
.sign-board-center {
  width: $cylinder-width;
  height: 50px;
  background: #f0f;
  position: relative;
}

.sign-board-center-top, .sign-board-center-bottom{
  width: $cylinder-width;
  height: $cylinder-width/2;
  @include border-radius($cylinder-width);
  background: #f00;
  position: absolute;
}

.sign-board-center-top {
  top: -(($cylinder-width/2)/2);
  background: #f0f;
}

.sign-board-center-bottom {
  bottom: -(($cylinder-width/2)/2);
  background: #f0f;
}
/*<div class="sign-board-center">
          <div class="sign-board-center-top"></div>
          <div class="sign-board-center-bottom"></div<
        </div>
*/

footer {
  text-align: center;
}
