/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass_twitter_bootstrap";
@import "colors";

$piece_size: 50px;
$board_size: ($piece_size + 2) * 3;
$board-padding: 15px;
.boards-container {
  width: ($board_size + ($board-padding * 2) ) * 3 + 15;
  margin: 0 auto;
}
  
h1{
  text-align: center;
}

.board {
  background: #fff;
  width: $board_size;
  height: $board_size;
  float: left;
  margin: $board-padding;
  border: 1px solid #fff;
  @include border-radius(10px);
  
  &.highlighted-board {
    border: 1px solid #f00;
  }
  
  &.disabled-board{
    opacity: 0.4;
    background: #ddd;
    
    >li{
      border-color: #000;
    }
  }

  &.won-board {
    
    &.disabled-board{
      border-color: #600;
    }
    
    &.piece-x{
      background-image: url('../images/x.png');
    }
    
    &.piece-o{
      background-image: url('../images/o.png');
    }
    
    &.matched {
      &.piece-X {
        > li {
          border-color: $purple;
        }
      }
      &.piece-O {
        > li {
          border-color: $green;
        }
      }
    }
  }
  
  > li {
    width: $piece_size;
    height: $piece_size;
    float: left;
    border: 1px solid #444;
    cursor: pointer;
    text-align: center;
    line-height: $piece_size;
    font-size: 24px;
    color: #333;

    &.matched {
      font-weight: bold;

      &.piece-X {
        color: $purple;
      }
      &.piece-O {
        color: $green;
      }
    }
    
    &.position-0, &.position-1, &.position-2 {
      border-top: none;
    }

    &.position-0, &.position-3, &.position-6 {
      border-left: none;
    }

    &.position-6, &.position-7, &.position-8 {
      border-bottom: none;
    }

     &.position-2, &.position-5, &.position-8 {
      border-right: none;
    }
  }
}

.board-container{
  position: relative;
  
  .won-board-piece {
    position: absolute;
    top: 0;
    left: 0;
  }
}

